Package: com.im.bypassiapios
Name: bypassIAPiOS
Description: An awesome MobileSubstrate tweak!
Maintainer: im
Author: im
Section: Tweaks
Depends: ellekit | mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64
Version: 0.0.1-255+debug
Installed-Size: 168
